<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="datastellar, Data, Analysis, Anlytics, Data Solutions, Business Intelligence, Data Consultancy, Data Management, Process Automation, Data Visualisation, Data Mining, Web Scraping">
        <meta name="description" content="Datastellar use cutting edge tools and technologies to help drive growth for SME's. We specialise in data visualisation, data mining, web scraping and more.">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap" rel="stylesheet">
        <title>datastellar &#8211; solutions</title>
        <link rel="icon" href="img/favicon.ico"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JX90HG17C6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-JX90HG17C6');
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a class="header__logo" href='/'>
                    <img src="svg/logo.svg" alt="Logo"/>
                    <!-- <div class="header__logo--logo">
                        <svg>
                            <use xlink:href="./svg/logo.svg#logo"></use>
                         </svg>
                    </div> -->
                    <div class="header__logo--text">
                        <span>data</span>stellar
                    </div>
                </a>
                <nav class="header__nav">
                    <ul>
                        <!-- <li><a href='#'>Why Us?</a></li> -->
                        <li><a href='/'>Home</a></li>
                    </ul>
                    <a class="header__nav--btn" href="/contactus">Contact Us</a>
                </nav>
            </div>

            <div class="solutions">

                <div class="solutions__bar">
                    <div class="solutions__bar__timeline">
                        <ul>
                            <li class="highlighted"><span>[1/5] </span>Data Management</li>
                            <li><span>[2/5] </span>Data Visualisation</li>
                            <li><span>[3/5] </span>Data Mining</li>
                            <li><span>[4/5] </span>Process Automation</li>
                            <li><span>[5/5] </span>Web Scraping</li>
                        </ul>
                    </div>
    
                    <div class="solutions__bar__scroll">
                        <img class="solutions__bar__scroll--mouse" src="./svg/mouse.svg" alt="Mouse SVG">
                        <img class="solutions__bar__scroll--arrow-up" src="./svg/arrow.svg" alt="Arrow Up SVG">
                        <img class="solutions__bar__scroll--arrow-down" src="./svg/arrow.svg" alt="Arrow Down SVG">
                        <p class="solutions__bar__scroll--text">Navigate</p>
                    </div>
                </div>
                
                <!-- <div class="solutions__border"></div> -->

                <section class="solutions__content active">
                    <div class="solutions__content--svg">
                        <img src="./svg/data_management.svg" alt="Data Management SVG">
                    </div>
                    <div class="solutions__content--text">
                        <h1>Data Management</h1>
                        <!-- <p>Leverage cloud based technologies to manage data</p> -->
                        <p>Leverage the cloud to manage data</p>
                        <ul>
                            <!-- <li>Store data in the cloud and directly benefit from low maintainance and high accessibility</li> -->
                            <!-- <li class="u-margin-top-bottom">Create an agile data management ecosystem and innovate faster</li> -->
                            <!-- <li>Scale easily and flexibly as your business demand grows</li> -->
                            <li>
                                Our data management solution gives you the ability to store your data in the cloud, 
                                which means you have access to your data at any time with just a click of a button, 
                                removing the need for multiple spreadsheets and unnecessary memory usage. 
                            </li>
                            <li class="u-margin-top">
                                We know that business growth is important to you, and we want to help you prepare for it. 
                                Our data management systems are agile, handling your data ecosystem as your business grows. 
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="solutions__content">
                    <div class="solutions__content--svg">
                        <img src="./svg/dashboarding.svg" alt="Dashboarding SVG">
                    </div>
                    <div class="solutions__content--text">
                        <h1>Data Visualisation</h1>
                        <p>Optimise your business functions and identify inefficiencies through KPIs</p>
                        <ul>
                            <!-- <li>Visualise and monitor real time data through bespoke dashboards with rich user experience</li> -->
                            <!-- <li class="u-margin-top-bottom">Centralise your reporting suite and reduce data conflicts with one version of the truth</li> -->
                            <!-- <li>Make actionable business decisions in situ</li> -->
                            <li>
                                Being able to see your progress and monitor your performance in real time means 
                                you can easily make decisions based on your current performance.
                                We work with you to design bespoke data driven dashboards with 
                                rich user experience that ensure your performance is always visible.
                            </li>
                            <li class="u-margin-top">
                                Having confidence in your reporting is paramount when analysing and 
                                sharing your performance with your colleagues. By centralising all your reporting to 
                                one easily accessible place, we make sure you have one version of the truth.
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="solutions__content">
                    <div class="solutions__content--svg">
                        <img src="./svg/data_mining.svg" alt="Data Mining SVG">
                    </div>
                    <div class="solutions__content--text">
                        <h1>Data Mining</h1>
                        <p>Find unknown unknowns through analytics</p>
                        <ul>
                            <!-- <li>Pinpoint and interpolate key trends to maximise customer or supply chain value</li> -->
                            <!-- <li class="u-margin-top-bottom">/Uncover opportunities with profiling all ends of your buinses from your customers, your suppliers to your products</li> -->
                            <!-- <li>Drive change using robust statistical modelling</li> -->
                            <li>
                                Relationships and trends within your business can exist where you least expect them to, 
                                our data mining solution pinpoints key trends that can uncover new opportunities in 
                                various functions including: Sales, Operations, Finance. 
                            </li>
                            <li class="u-margin-top">
                                Without completely understanding your customers, offering the right product is difficult. 
                                We can help you to understand customer behaviour through statistical techniques. 
                            </li>
                        </ul>
                    </div>
                    
                </section>
                
                <section class="solutions__content">
                    <div class="solutions__content--svg">
                        <img src="./svg/automation.svg" alt="Automation SVG">
                    </div>
                    <div class="solutions__content--text">
                        <h1>Process Automation</h1>
                        <p>Streamline manual processes with automation</p>
                        <ul>
                            <!-- <li>Automate administrative and repetitive tasks to reduce overhead costs</li> -->
                            <!-- <li class="u-margin-top-bottom">Augment your workflow with modern technologies and regain valuable time</li> -->
                            <!-- <li>Accelerate productivity by empowering your employees with digitally aided solutions</li> -->
                            <li>
                                Simple administration tasks are monotonous, time consuming and costly. 
                                Let us automate these to give you time to do the things that really matter – make the company grow. 
                            </li>
                            <li class="u-margin-top">
                                We are in the 21st century, not using digitally aided solutions is going to leave you behind. 
                                We can help you accelerate productivity by empowering your employees and augmenting modern 
                                technologies into your workflows.
                            </li>
                        </ul>
                    </div>
                    
                </section>

                <section class="solutions__content">
                    <div class="solutions__content--svg">
                        <img src="./svg/crawler.svg" alt="Web Crawler SVG">
                    </div>
                    <div class="solutions__content--text">
                        <h1>Web Scraping</h1>
                        <p>Stay ahead of your competitors</p>
                        <ul>
                            <!-- <li>Build a complete product/pricing landscape of your competitor using smart internet crawlers</li> -->
                            <!-- <li class="u-margin-top-bottom">Harvest a dynamic dataset of your competitor</li> -->
                            <!-- <li>Navigate new product and service spaces with confidence</li> -->
                            <li>
                                No one wants to finish in second place. Understanding your competitors’ product and pricing landscape 
                                enables you to ensure you are always one step ahead of them. Our web scraping solution allows you to
                                keep an eye on what your competitors are doing at any time and act accordingly.
                            </li>
                            <li class="u-margin-top">
                                Introducing new products comes with risks. Web scraping allows you to deliver products with confidence 
                                by giving you the ability to navigate the current market and help you see how you and your products fit in.
                            </li>
                        </ul>
                    </div>
                </section>
    
            </div>

            
        </div>
        <script src="js/solutions_script.js"></script>
    </body>
</html>