<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="datastellar, Data, Analysis, Anlytics, Data Solutions, Business Intelligence, Data Consultancy, Data Management, Process Automation, Data Visualisation, Data Mining, Web Scraping">
        <meta name="description" content="Datastellar use cutting edge tools and technologies to help drive growth for SME's. We specialise in data visualisation, data mining, web scraping and more.">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap" rel="stylesheet">
        <title>datastellar &#8211; thank you</title>
        <link rel="icon" href="img/favicon.ico"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JX90HG17C6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-JX90HG17C6');
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a class="header__logo" href='/'>
                    <img src="svg/logo.svg" alt="Logo"/>
                    <div class="header__logo--text">
                        <span>data</span>stellar
                    </div>
                </a>
                <nav class="header__nav">
                    <ul>

                        <li><a href='/'>Home</a></li>
                    </ul>
                    <!-- <a class="header__nav--btn" href="/">Home</a> -->
                </nav>
            </div>
            <div class="contactus__svg">
                <img src="./svg/contactus.svg" alt="Contact Us SVG">
                <a href="https://storyset.com/internet">[Illustration by Freepik Storyset]</a>
            </div>
            <div class="contactus__form">
                <h1 style="font-size: 3.5rem;">Thank you for your submission.</h1>
                <p style="font-size: 2rem;">We respond within 2 working days.</p>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="js/contactus_script.js"></script>
    </body>
</html>