*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  padding: 2rem 1rem;
  background-color: #f4f4f4; }
  @media only screen and (max-width: 1300px) {
    body {
      padding: 1.5rem 1rem; } }
  @media only screen and (max-width: 700px) {
    body {
      padding: 1.25rem 1rem; } }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: 60px repeat(6, 1fr) 60px;
  grid-gap: 1rem; }
  @media only screen and (max-width: 1100px) {
    .container {
      grid-template-rows: repeat(11, 1fr);
      grid-template-columns: 60px repeat(4, 1fr) 60px;
      grid-gap: 1.5rem; } }
  @media only screen and (max-width: 600px) {
    .container {
      grid-template-columns: 15px repeat(4, 1fr) 15px;
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem; } }
  @media only screen and (max-width: 400px) {
    .container {
      grid-template-columns: 7.5px repeat(4, 1fr) 7.5px;
      grid-column-gap: 0.4rem; } }

.header {
  grid-column: 2 / 8;
  width: 100%;
  display: flex; }
  @media only screen and (max-width: 1100px) {
    .header {
      grid-column: 2 / 6; } }
  @media only screen and (max-height: 550px) {
    .header {
      display: none; } }
  .header__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
    color: inherit;
    text-decoration: none; }
    @media only screen and (max-width: 700px) {
      .header__logo {
        font-size: 1.25rem; } }
    .header__logo--text span {
      color: #1aa3ff; }
    @media only screen and (max-width: 700px) {
      .header__logo--text {
        display: none; } }
    .header__logo img {
      margin-right: 10px;
      width: 50px; }
    .header__logo--div {
      background-color: #1aa3ff;
      height: 3rem;
      width: 1rem;
      margin-right: 1rem; }
    .header__logo:hover .header__logo--div {
      background-color: black; }
    .header__logo:hover {
      color: #1aa3ff; }
      .header__logo:hover span {
        color: black; }
  .header__nav {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.6rem; }
    @media only screen and (max-width: 1100px) {
      .header__nav {
        font-size: 1.4rem; } }
    .header__nav ul {
      display: flex;
      list-style-type: none; }
      .header__nav ul li {
        padding: 1rem 2rem; }
        .header__nav ul li a {
          color: inherit;
          text-decoration: none; }
        .header__nav ul li:hover {
          color: #1aa3ff; }
    .header__nav--btn {
      padding: 1rem;
      margin-left: 1rem;
      font-size: 2rem;
      background-color: white;
      border: 1px solid gray;
      box-shadow: 5px 5px #1aa3ff;
      color: inherit;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-decoration: none;
      white-space: no;
      transition: all .5s; }
      @media only screen and (max-width: 1100px) {
        .header__nav--btn {
          margin-left: 0;
          font-size: 1.25rem; } }
      .header__nav--btn:active, .header__nav--btn:focus {
        outline: none;
        transform: translateY(5px) translateX(5px);
        box-shadow: none; }

.core__text {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 1100px) {
    .core__text {
      grid-column: 2 / 6;
      grid-row: 2 / 3; } }
  .core__text h1 {
    overflow: hidden;
    margin-right: auto;
    white-space: nowrap;
    font-size: 6rem; }
    @media only screen and (max-width: 1300px) {
      .core__text h1 {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 600px) {
      .core__text h1 {
        font-size: 3rem; } }
    @media only screen and (max-width: 400px) {
      .core__text h1 {
        font-size: 2rem; } }
  .core__text--span {
    border-right: .05em solid black;
    animation: blink 1s steps(1) infinite; }
  .core__text p {
    font-size: 2rem; }
    @media only screen and (max-width: 1300px) {
      .core__text p {
        font-size: 1.75rem; } }
    @media only screen and (max-width: 700px) {
      .core__text p {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 400px) {
      .core__text p {
        font-size: 1rem; } }

.core__svg {
  grid-column: 5 / 8;
  grid-row: 2 / 12;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-self: center;
  text-align: right; }
  @media only screen and (max-width: 1100px) {
    .core__svg {
      display: none; } }
  .core__svg img {
    height: 90%; }
  .core__svg div {
    text-align: center; }
    .core__svg div a {
      color: inherit;
      text-decoration: none;
      font-size: 4rem;
      font-weight: 500;
      color: #1aa3ff; }
      .core__svg div a:hover {
        color: black; }
  .core__svg a {
    color: inherit;
    text-decoration: none;
    width: 100px;
    margin-left: auto; }

.core__services {
  grid-column: 2 / 5;
  grid-row: 4 / 11;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 1100px) {
    .core__services {
      grid-column: 2 / 6;
      grid-row: 3 / 11; } }
  .core__services--item {
    height: 30%;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 5px #1aa3ff;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    transition: all .5s; }
    @media only screen and (max-width: 1150px) {
      .core__services--item {
        padding: 0 1.5rem; } }
    @media only screen and (max-width: 600px) {
      .core__services--item {
        padding: 0 1rem; } }
    .core__services--item--text {
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem; }
      @media only screen and (max-width: 1150px) {
        .core__services--item--text {
          padding: 1.5rem 0 1.5rem 2rem; } }
      @media only screen and (max-width: 600px) {
        .core__services--item--text {
          padding: 1rem 0 1rem 2rem; } }
      .core__services--item--text h4 {
        font-size: 3rem; }
        @media only screen and (max-width: 1150px) {
          .core__services--item--text h4 {
            font-size: 2.5rem; } }
        @media only screen and (max-width: 600px) {
          .core__services--item--text h4 {
            font-size: 2rem; } }
      .core__services--item--text p {
        font-size: 1.5rem; }
        @media only screen and (max-width: 600px) {
          .core__services--item--text p {
            font-size: 1.4rem; } }
        @media only screen and (max-width: 400px) {
          .core__services--item--text p {
            font-size: 1.25rem; } }
    .core__services--item img {
      width: 30%;
      height: 70%;
      margin: 1rem 0; }
    .core__services--item:hover {
      transform: translateY(8px) translateX(8px);
      box-shadow: none; }

@keyframes blink {
  50% {
    border-color: transparent; }
  100% {
    border-color: transparent; } }

.links {
  grid-column: 2 / 5;
  grid-row: 11 / 12;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  color: inherit;
  text-decoration: none; }
  .links__quote {
    display: none; }
  @media only screen and (max-width: 1100px) {
    .links {
      grid-column: 2 / 6;
      font-size: 1.75rem; }
      .links__quote {
        display: flex;
        font-weight: 700;
        color: #1aa3ff; } }
  @media only screen and (max-width: 700px) {
    .links {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 400px) {
    .links {
      font-size: 1.25rem; } }
  @media only screen and (max-width: 300px) {
    .links {
      font-size: 1.1rem; } }
  .links a {
    color: inherit;
    text-decoration: none; }
    .links a:hover {
      color: #1aa3ff; }

.u-padding-left-right {
  padding: 0 1.5rem; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.u-margin-top {
  margin-top: 2rem; }
  @media only screen and (max-width: 600px) {
    .u-margin-top {
      margin-top: 1rem; } }

.u-margin-top-bottom {
  margin: 2rem 0; }

.solutions {
  grid-column: 2 / 8;
  grid-row: 2 / 12;
  display: flex; }
  @media only screen and (max-width: 1100px) {
    .solutions {
      grid-column: 2 / 6; } }
  @media only screen and (max-width: 900px) {
    .solutions {
      flex-direction: column; } }
  .solutions__bar {
    width: 20%;
    font-size: 1.6rem;
    margin-right: 2rem;
    height: 100%; }
    @media only screen and (max-width: 1100px) {
      .solutions__bar {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 900px) {
      .solutions__bar {
        margin: 0;
        width: 100%;
        height: inherit;
        margin-bottom: 1rem; } }
    .solutions__bar__timeline ul li {
      list-style: none;
      margin: .5rem 0; }
    .solutions__bar__scroll--mouse {
      position: fixed;
      bottom: 4rem;
      left: 8rem;
      width: 50px; }
      @media only screen and (max-width: 900px) {
        .solutions__bar__scroll--mouse {
          top: 11.5rem;
          right: 8rem;
          bottom: unset;
          left: unset; } }
      @media only screen and (max-width: 700px) {
        .solutions__bar__scroll--mouse {
          display: none; } }
    .solutions__bar__scroll--arrow-up {
      position: fixed;
      bottom: 8rem;
      left: 14.5rem;
      transform: rotate(270deg);
      width: 2rem; }
      @media only screen and (max-width: 900px) {
        .solutions__bar__scroll--arrow-up {
          top: 10rem;
          right: 4.5rem;
          bottom: unset;
          left: unset; } }
    .solutions__bar__scroll--arrow-down {
      position: fixed;
      bottom: 3rem;
      left: 14.5rem;
      transform: rotate(90deg);
      width: 2rem; }
      @media only screen and (max-width: 900px) {
        .solutions__bar__scroll--arrow-down {
          top: 15rem;
          right: 4.5rem;
          bottom: unset;
          left: unset; } }
    .solutions__bar__scroll--text {
      position: fixed;
      bottom: 5.6rem;
      left: 13rem;
      font-size: 1.5rem; }
      @media only screen and (max-width: 900px) {
        .solutions__bar__scroll--text {
          top: 12.5rem;
          right: 2.3rem;
          bottom: unset;
          left: unset; } }
  .solutions__content {
    width: 80%;
    display: none;
    padding-left: 5rem;
    border-left: 2px solid #1aa3ff; }
    @media only screen and (max-width: 900px) {
      .solutions__content {
        width: 100%;
        height: 80%;
        justify-content: center;
        padding-left: 1rem; } }
    .solutions__content--svg {
      align-self: center;
      display: flex;
      width: 100%;
      padding-bottom: 3rem;
      justify-content: center; }
      @media only screen and (max-width: 1100px) {
        .solutions__content--svg {
          padding-bottom: 1.5rem; } }
      .solutions__content--svg img {
        width: 25%; }
        @media only screen and (max-width: 700px) {
          .solutions__content--svg img {
            width: 30%; } }
        @media only screen and (max-width: 370px) {
          .solutions__content--svg img {
            display: none; } }
    .solutions__content--text {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-self: center;
      text-align: center; }
      .solutions__content--text h1 {
        font-size: 5rem; }
        @media only screen and (max-width: 1100px) {
          .solutions__content--text h1 {
            font-size: 4rem; } }
        @media only screen and (max-width: 700px) {
          .solutions__content--text h1 {
            font-size: 2rem; } }
      .solutions__content--text p {
        font-size: 2rem; }
        @media only screen and (max-width: 1100px) {
          .solutions__content--text p {
            font-size: 1.75rem; } }
        @media only screen and (max-width: 900px) {
          .solutions__content--text p {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 350px) {
          .solutions__content--text p {
            font-size: 1.2rem; } }
      .solutions__content--text ul {
        padding: 3rem 0 0 2rem; }
        @media only screen and (max-width: 1000px) {
          .solutions__content--text ul {
            padding: 2.5rem 0 0 1.5rem; } }
        @media only screen and (max-width: 700px) {
          .solutions__content--text ul {
            padding: 1rem 0 0 .75rem; } }
        @media only screen and (max-width: 350px) {
          .solutions__content--text ul {
            padding: .75rem 0 0 .5rem; } }
        .solutions__content--text ul li {
          font-size: 1.75rem;
          list-style: none;
          border: 1px solid gray;
          padding: 1.5rem;
          background-color: white;
          box-shadow: 3px 3px #1aa3ff;
          transition: all .2s; }
          .solutions__content--text ul li:hover {
            transform: translateY(3px) translateX(3px);
            box-shadow: none; }
          @media only screen and (max-width: 1100px) {
            .solutions__content--text ul li {
              font-size: 1.75rem; } }
          @media only screen and (max-width: 900px) {
            .solutions__content--text ul li {
              font-size: 1.5rem; } }

.active {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center; }

.highlighted {
  color: #1aa3ff;
  font-size: 1.8rem; }
  @media only screen and (max-width: 1100px) {
    .highlighted {
      font-size: 1.75rem; } }

.contactus__svg {
  grid-column: 2 / 5;
  grid-row: 2 / 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-self: center; }
  @media only screen and (max-width: 1100px) {
    .contactus__svg {
      display: none; } }
  .contactus__svg img {
    height: 100%; }
  .contactus__svg a {
    color: inherit;
    text-decoration: none;
    width: 100px;
    margin-right: auto; }

.contactus__form {
  grid-column: 5 / 8;
  grid-row: 2 / 12;
  display: flex;
  flex-direction: column;
  align-self: center; }
  @media only screen and (max-width: 1100px) {
    .contactus__form {
      grid-column: 2 / 6;
      grid-row: 2 / 12; } }
  .contactus__form form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 1.6rem; }
    @media only screen and (max-width: 1100px) {
      .contactus__form form {
        font-size: 1.4rem; } }
    .contactus__form form label {
      padding: 0.25rem 1rem; }
    .contactus__form form textarea {
      resize: none; }
      @media only screen and (max-width: 1100px) {
        .contactus__form form textarea {
          height: 7em; } }
      @media only screen and (max-width: 600px) {
        .contactus__form form textarea {
          height: 5em; } }
  .contactus__form--text {
    margin: 1rem; }
    @media only screen and (max-width: 1100px) {
      .contactus__form--text {
        margin: 0.25rem 1rem; } }
    .contactus__form--text h1 {
      font-size: 4rem; }
      @media only screen and (max-width: 1100px) {
        .contactus__form--text h1 {
          font-size: 3rem; } }
      @media only screen and (max-width: 600px) {
        .contactus__form--text h1 {
          font-size: 2rem; } }
    .contactus__form--text p {
      font-size: 1.5rem; }
  .contactus__form--input {
    margin: 0.5rem 1rem;
    outline: none;
    border: 1px solid gray;
    padding: .5rem;
    font: inherit;
    font-size: 1.4rem;
    box-shadow: 3px 3px #1aa3ff;
    transition: all .2s; }
    @media only screen and (max-width: 1100px) {
      .contactus__form--input {
        font-size: 1.3rem;
        padding: .4rem;
        margin: 0.4rem 1rem; } }
    @media only screen and (max-width: 600px) {
      .contactus__form--input {
        font-size: 1.2rem;
        padding: .3rem;
        margin: 0.3rem 1rem; } }
    .contactus__form--input:focus, .contactus__form--input:active {
      transform: translateX(3px) translateY(3px);
      box-shadow: none; }
  .contactus__form--checkbox {
    padding: 1rem;
    display: flex; }
    @media only screen and (max-width: 700px) {
      .contactus__form--checkbox {
        flex-direction: column; } }
    .contactus__form--checkbox--item {
      font-size: 1.4rem;
      margin-right: 3rem; }
      @media only screen and (max-width: 1100px) {
        .contactus__form--checkbox--item {
          margin-bottom: .5rem; } }
      .contactus__form--checkbox--item input {
        margin-right: 1rem; }
  .contactus__form--btn {
    font: inherit;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem;
    text-align: right;
    margin-left: auto;
    margin-top: 1rem;
    width: fit-content; }
    .contactus__form--btn:hover, .contactus__form--btn:focus, .contactus__form--btn:active {
      color: #1aa3ff;
      outline: none; }

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem; }
  .modal__header {
    margin-bottom: 2rem; }
  .modal__content {
    width: 60%;
    padding: 2rem;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 5px #1aa3ff; }
  .modal__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
    @media only screen and (max-width: 750px) {
      .modal__footer {
        flex-direction: column; } }
  .modal__btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #1aa3ff;
    font-size: 2rem; }
    @media only screen and (max-width: 750px) {
      .modal__btn {
        margin-top: 2rem;
        margin-right: auto; } }
